@import '../-image-vars';

.footer {
  background: var(--theme--hibiscus);
  color: var(--neutral--50);
  background-image: $footer-bg_image;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 300px auto;

  @include media-breakpoint-up(md) {
    background-size: unset;
    background-position: center right;
  }

  &__inner {
    padding-top: 20px;
    padding-bottom: 23px;

    @include media-breakpoint-up(md) {
      padding-top: 64px;
      padding-bottom: 51px;
    }
  }

  &__logo {
    margin-bottom: 12px;

    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
    }

    img {
      object-fit: contain;
    }
  }

  &__social-links {
    .social-icon {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 50%;
        text-decoration: none;

        &:hover {
          opacity: 0.8;
        }
      }

      i {
        color: #636359;
        font-size: 18px;
      }
    }

    .footer__title {
      font-family: var(--ff-poppins);
      margin-bottom: 13px;
      line-height: 150%;
    }

    ul {
      list-style: none;
      gap: 12px;

      li {
        a {
          font-size: 36px;
          display: flex;
          border-radius: 50px;
          text-decoration: none;

          svg {
            margin: auto;
            height: 100%;
            max-height: 15px;
          }
        }
      }
    }
  }

  &__top {
    flex-direction: column;
    margin-bottom: 44px;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    .column--left {
      gap: map-get($spacers, 6);
      flex: 0 0 100%;
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        flex: 0 0 67%;
        gap: map-get($spacers, 8);
        margin-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 72%;
        gap: map-get($spacers, 9);
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 80%;
        gap: 132px;
        flex-direction: row;
      }

      @include media-breakpoint-up(xl) {
        flex: 0 0 84%;
        gap: 132px;
      }

      .footer__menu {
        padding-right: map-get($spacers, 5);

        @include media-breakpoint-up(sm) {
          padding-right: map-get($spacers, 6);
        }

        @include media-breakpoint-up(md) {
          padding-right: map-get($spacers, 8);
        }
      }
    }

    .column--right {
      @include media-breakpoint-up(sm) {
        flex: 1;
      }

      .column__inner {
        .ctas {
          display: flex;
          flex-direction: column;
          gap: 14px;
          max-width: 197px;

          @include media-breakpoint-up(md) {
            max-width: unset;
          }

          a {
            font-family: var(--ff-poppins);
            background-color: var(--neutral--50);
            color: var(--theme--onyx);
            width: 197px;

            &:hover {
              background-color: var(--theme--onyx);
              color: var(--neutral--50);

              i {
                color: var(--neutral--50);
              }
            }

            i {
              font-size: 18px;
              color: var(--theme--onyx);
            }
          }
        }
      }
    }
  }

  &__mid {
    flex-direction: column;
    margin-bottom: map-get($spacers, 5);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      margin-bottom: map-get($spacers, 8);
    }

    .column--left {
      padding-bottom: map-get($spacers, 8);
      flex: 0 0 67%;

      @include media-breakpoint-up(sm) {
        padding-right: map-get($spacers, 8);
      }

      @include media-breakpoint-up(md) {
        flex: 0 0 80%;
        padding-right: 0;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 75%;
        padding-bottom: 0;
      }
    }

    .column--right {
      @include media-breakpoint-up(lg) {
        flex: 1;
      }
    }
  }

  &__bottom {
    justify-content: space-between;
    padding-top: 10px;
    flex-direction: column;

    @media screen and (min-width: 900px) {
      flex-direction: row;
      align-items: flex-end;
    }

    &__menu {
      margin-top: 25px;
      // max-width: 753px;
      // width: 100%;

      @media screen and (min-width: 900px) {
        margin-top: unset;
      }

      @include media-breakpoint-up(lg) {
        max-width: 61%;
        width: 100%;
      }

      .charitable-number {
        order: 0;
        text-align: center;
        margin-bottom: 10px;
        text-align: left;

        @media screen and (min-width: 900px) {
          text-align: right;
          margin-bottom: 14px;
          grid-column: 1 / 3;
          grid-row: 1 / 2;
        }
      }

      .legal-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        font-family: var(--ff-open-sans);
        font-weight: 600;

        @media screen and (min-width: 900px) {
          display: grid;
          grid-template-rows: repeat(2, 23px);
          row-gap: 14px;
        }

        & * {
          line-height: 164%;
        }

        @media screen and (min-width: 900px) {
          & * {
            text-align: right;
          }
        }

        a {
          color: var(--neutral--50);
          text-decoration: underline;
        }

        .privacy-policy-site-map {
          display: flex;
          margin-bottom: 10px;

          @media screen and (min-width: 900px) {
            grid-column: 1 / 2;
          }
        }

        .privacy-policy,
        .site-map {
          margin-right: 39px;

          @media screen and (min-width: 900px) {
            font-size: 16px;
            line-height: 23.04px;
          }

          &:hover {
            text-decoration: none;
          }
        }

        .copyright {
          justify-self: end;
        }
      }
    }
  }

  &__column {
    .column__inner {
      &.footer {
        &__details {
          flex: 0 0 50%;

          @include media-breakpoint-up(lg) {
            flex: 0 0 30%;
          }

          @include media-breakpoint-up(xl) {
            flex: 0 0 33.33%;
          }

          .details--phone {
            p {
              margin-bottom: 0;
            }
          }

          a {
            color: white;
            font-weight: 700;
          }
        }
      }

      &.featured-links-container {
        .title {
          margin-bottom: 12px;

          @include media-breakpoint-up(md) {
            margin-bottom: 17px;
          }
        }

        .featured-links {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 20px;

          @include media-breakpoint-up(md) {
            margin-bottom: unset;
          }

          .featured-link {
            list-style: none;
            width: 50%;
            margin-bottom: 13px;
            padding-right: 16px;

            &:hover {
              text-decoration: none;

              & span {
                border-bottom: none;
              }
            }

            span {
              display: inline;
              padding-bottom: 2px;
              border-bottom: 2px solid var(--theme--maximum-blue);
              font-family: var(--ff-poppins);
              font-weight: 500;
              line-height: 26.24px;
              letter-spacing: 0.45px;

              @include media-breakpoint-up(md) {
                font-family: var(--ff-open-sans);
                font-weight: unset;
                line-height: 23.04px;
              }
            }
          }
        }
      }
    }
  }

  &__details {
    .details--contact-info {
      font-family: var(--ff-open-sans);

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      .contact-info-top {
        margin-bottom: 33px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
